<div class="container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="col-md-12">
    <div class="pull-right mb-3">
      <button mat-raised-button (click)="addNewUser()" style="text-transform: uppercase; width: max-content;">Add
        New</button>
    </div>
  </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td style="text-transform:capitalize;">{{ user.name.firstname }} {{user.name.lastname}}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td style="text-transform:capitalize;">{{ user.address.street }}, {{ user.address.city }}</td>
        <td>
          <button mat-raised-button (click)="openEditUser(user.id)" style="text-transform: uppercase; width: max-content; margin-right: 2%;">Edit</button>
<!--           <button mat-raised-button (click)="deleteUser(user)" style="text-transform: uppercase; width: max-content;">Delete</button> -->
          <button mat-raised-button (click)="openConfirmationDialog(user)" style="text-transform: uppercase; width: max-content;">Delete</button>
       </tr>
    </tbody>
  </table>
</div>
