/*FOOTER STYLE*/
footer {
  background-color: white;
  font-family: inherit;
  font-size: 14px;
  color: #333;
}

footer ul {
  padding-left: 0%;
}

footer ul li{
  list-style: none;
  line-height: 36px;
  font-weight: 500;
}

footer .address {
  line-height: 28px;
  font-weight: 500;
  color: #6c757d !important;
}

footer .footer-logo {
  height: 25px;
  width: auto;
  margin-top: 11px;
  margin-bottom: 11px;
}

footer .footer-bottom {
  border-top: 1px solid whitesmoke;
  text-align: center;
  padding-top: 1rem;
  color: #6c757d;
}
/**/
