<ngb-carousel>
  <ng-template ngbSlide>
    <img src="https://wallpapercave.com/wp/wp3502942.jpg" alt="Slide 1" style="width: 100vw;">
    <div class="carousel-caption">
      <h3>Slide 1</h3>
      <p>Description for slide 1</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://mobimg.b-cdn.net/v3/fetch/e6/e646b15237e471acf5d48ebb1758b003.jpeg" alt="Slide 2" style="width: 100vw;">
    <div class="carousel-caption">
      <h3>Slide 2</h3>
      <p>Description for slide 2</p>
    </div>
  </ng-template>
  <!-- Add more slides as needed -->
</ngb-carousel>
